body{
    padding:0;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}

#header-bar{
    text-align: center;
    padding: 10px;
    background-color: skyblue;
    color:white;
    font-size: 2em;
}
#content{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    max-width: 500px;
}

.flex-container-horizontal{
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

#selector-active{
    background-color: rgb(230,230,230);
    border-bottom: none;
}

.selector-type{
    padding:5px 10px;
    border: 1px solid rgb(200,200,200);
    border-right:0;
    border-top:0;
    cursor: pointer;
    user-select: none;
}

.selector-type:hover{
    background-color: rgb(210,210,210);
}
.selector-type:active{
    background-color: rgb(200,200,200);
}

#converter-content{
    margin: 20px;
}

#converter-content input{
    padding: 5px 10px;
    flex:1;
}

#type-search select{
    background: none;
    flex:1;
    padding:0 10px;
    border:1px solid rgb(200,200,200);
    width:100%;
    height:100%;
}

#type-search option{
    padding:0 10px;
}

#type-search{
    flex:1;
}

#type-search:hover{
    background: rgb(230,230,230);
}

#arrow-container{
    display:flex;
    align-items: center;
    margin: 0 10px;
}