body{
    padding:0;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}

#header-bar{
    text-align: center;
    padding: 10px;
    background-color: rgb(52, 140, 175);
    color:white;
    font-size: 1.6em;
}
#content{
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.flex-container-horizontal{
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.flex-container-vertical{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.selector-active{
    background-color: rgb(230,230,230) !important;
    border-bottom: none !important;
}

.selector-type{
    height: 28px;
    box-sizing: border-box;
    padding:5.5px 0;
    width: 79px;
    text-align: center;
    font-size:0.8em;
    border: 1px solid rgb(200,200,200);
    border-right:0;
    cursor: pointer;
    user-select: none;
}

.hover:hover{
    background: rgb(210,210,210);
}

.hover:active{
    background-color: rgb(200,200,200);
}

#converter-content{
    margin: 20px 10px;
    flex:1;
    min-width: 0;
}

#converter-content input{
    padding: 5px 10px;
    min-width: 0;
    flex:1;
}

#converter-content input:disabled{
    background-color: none;
}

#type-search{
    flex:1;
    border:1px solid rgb(200,200,200);
    border-right: none;
}

#type-search select{
    font-size:0.8em;
    background: none;
    border: none;
    padding:5.2px 6px;
    width:100%;
    height:100%;
}

#type-search option{
    padding:0 10px;
}

#type-search{
    flex:1;
}


#arrow-container{
    display:flex;
    align-items: center;
    margin: 0 5px;
}

.unit-selection select{
    background: none;
    flex:1;
    padding:5px 10px;
    border:1px solid rgb(200,200,200);
    min-width: 0;
}

.unit-selection{
    margin:10px 0;
}

.spacer-40{
    width: 40px;
}

#from-to-content{
    border-bottom: solid 1px rgb(200,200,200);
    padding-bottom:10px;
}

.vertical-line{
    border-left: 1px solid rgb(200,200,200);
}